<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<welcome-file-list>
	<welcome-file>test2</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>servlet2</servlet-name>
		<jsp-file>/edit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet2</servlet-name>
		<url-pattern>/test2</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Authentication1</web-resource-name>
			<url-pattern>/test2</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>

		<auth-constraint>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/Login.jsp</form-login-page>
			<form-error-page>/login_fail.jsp</form-error-page>
		</form-login-config>
		<realm-name>myrealm</realm-name>
	</login-config>
</web-app>