<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>proj25-working with Servlet_Security using basic p177</display-name>
	<welcome-file-list>
		<welcome-file>First_Servlet</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Authentication</web-resource-name>
			<url-pattern>/First_Servlet</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>

		<auth-constraint>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>myrealm</realm-name>
	</login-config>
</web-app>